<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".PatientMain"
            android:exported="false" />
        <activity
            android:name=".DoctorSignUpImage"
            android:exported="false" />
        <activity
            android:name=".DoctorDashboard"
            android:exported="false" />
        <activity
            android:name=".DoctorSignUp"
            android:exported="false" />
        <activity
            android:name=".chooseOption"
            android:exported="false" />
        <activity
            android:name=".SymptomResponse"
            android:exported="false" />
        <activity
            android:name=".DoctorMyMain"
            android:exported="false" />
        <activity
            android:name=".DocterNew"
            android:exported="false" />
        <activity
            android:name=".PatientConfirmationToDoctor"
            android:exported="false" />
        <activity
            android:name=".AIConsultation"
            android:exported="false"
            android:label="@string/title_activity_aiconsultation"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Docter_ConfirmAppointment"
            android:exported="false" />
        <activity
            android:name=".Doctor_Appointment1"
            android:exported="false" />
        <activity
            android:name=".NutritionActivity"
            android:exported="false" />
        <activity
            android:name=".MedicationActivity"
            android:exported="false" />
        <activity
            android:name=".SymptomActivity"
            android:exported="false" />
        <activity
            android:name=".BMI_Calculator"
            android:exported="false" />
        <activity
            android:name=".Password_reset"
            android:exported="false" />
        <activity
            android:name=".BMICalculator"
            android:exported="false"
            android:label="@string/title_activity_bmicalculator"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".AboutOurselves"
            android:exported="false" />
        <activity
            android:name=".AmbulanceService"
            android:exported="false" />
        <activity
            android:name=".OrderMedicine"
            android:exported="false" />
        <activity
            android:name=".Diagnosis"
            android:exported="false" />
        <activity
            android:name=".DoctorConsultation"
            android:exported="false" />
        <activity
            android:name=".DashBoard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>